n8n_working_solution.json
{
  "name": "Working LLM API Solution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-llm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "test-llm-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://llm.flyingplate.cloud/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"{{ $json.message || 'Привет! Как дела?' }}\"}]"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request",
      "name": "Call LLM API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"response\": \"{{ $json.response }}\",\n  \"tokens_used\": {{ $json.usage.total_tokens }},\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call LLM API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}