n8n_working_solution_v2.json
{
  "name": "Working LLM API - Solution v2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Рабочее решение с использованием $http\nconst message = $input.first().json.message || 'Привет! Как дела?';\n\n// Используем встроенный $http объект n8n\ntry {\n  const response = await $http.post('https://llm.flyingplate.cloud/api/chat', {\n    headers: {\n      'Content-Type': 'application/json'\n    },\n    body: {\n      messages: [\n        {\n          role: 'user',\n          content: message\n        }\n      ]\n    }\n  });\n  \n  return [{\n    json: {\n      success: true,\n      ai_response: response.body.response,\n      tokens_used: response.body.usage?.total_tokens || 0,\n      raw_response: response.body,\n      timestamp: new Date().toISOString()\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "custom-function",
      "name": "Call LLM API",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $json.success ? 'SUCCESS' : 'ERROR' }}"
            },
            {
              "name": "response",
              "value": "={{ $json.ai_response || $json.error }}"
            },
            {
              "name": "tokens",
              "value": "={{ $json.tokens_used || 0 }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Call LLM API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM API": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}